<div class="routine-detail-container">
    <h2 class="font-bold text-xl text-foreground mb-2">Routine Details</h2>

    <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
        <div *ngIf="isLoading" class="py-10">
            <app-loading></app-loading>
        </div>

        <div *ngIf="!isLoading && routine" class="routine-content">
            <div id="map" class="map-container"></div>

            <div class="routine-info">
                <h2>{{ routine.name }}</h2>
                <div class="info-list grid grid-cols-3 gap-4">
                    <div class="info-item" *ngFor="let item of info">
                        <p class="">{{ item.label }}</p>
                        <p class="text-muted-foreground">{{ item.value }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>