<div class="incomplete-driver-list-container">
    <h2 class="font-bold text-xl text-foreground mb-2">Incomplete Driver List</h2>

    <div *ngIf="isLoading" class="loading">Loading...</div>

    <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
        <div class="overflow-x-auto">
            <table *ngIf="!isLoading && paginatedDrivers.length > 0">
                <thead class="border border-muted/20 text-xs text-muted-foreground">
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-left">Email</th>
                        <th class="text-left">Phone</th>
                        <th class="text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-card/50" *ngFor="let driver of paginatedDrivers">
                        <td>
                            <div class="flex items-center">
                                <p>{{ driver.first_name }} {{ driver.last_name }}</p>
                            </div>
                        </td>
                        <td>{{ driver.email }}</td>
                        <td>{{ driver.phone_number }}</td>
                        <td>
                            <div class="relative text-left">
                                <button (click)="toggleDropdown(driver.documentId)"
                                    class="text-gray-500 hover:text-gray-700" id="menu-button" aria-expanded="true"
                                    aria-haspopup="true">
                                    <svg-icon src="./assets/icons/heroicons/outline/ellipsis-vertical.svg"
                                        [svgClass]="'h-4 w-4'">
                                    </svg-icon>
                                </button>

                                <div *ngIf="activeDropdown === driver.documentId"
                                    class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                    <div class="py-1" role="none">
                                        <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem" tabindex="-1" id="menu-item-0">View Driver</a>
                                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                                            role="menuitem" tabindex="-1" id="menu-item-1">Deactivate</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="!isLoading && paginatedDrivers.length === 0" class="no-data">
        No drivers found.
    </div>

    <div class="pagination text-center py-4">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
</div>